<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ToDoApp "FIRST of ALL"</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto"> <!-- ml-autoでナビゲーションアイテムを右寄せ -->
      <% if(isAuth) { %>
        <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item mr-2"> <!-- Sign inとSign upの間に少しマージン -->
            <!-- Sign in を塗りつぶしのプライマリボタンに -->
            <a class="btn btn-primary btn-sm" href="/signin">サインイン</a>
        </li>
        <li class="nav-item">
            <!-- Sign up をアウトラインのプライマリボタンに -->
            <a class="btn btn-outline-primary btn-sm" href="/signup">サインアップ</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>